/* Custom Fonts */
@font-face {
    font-family: carolyna;
    src: url('../fonts/carolyna-pro.ttf');
}

/* Bootstrap overrides */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Dosis, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}